.header {
	font-weight: bold;
	font-size: 1.3em
}

.subheader {
	font-weight: bold;
	font-size: 1.1em
}

.dataTable {
	width: 100%;
	word-wrap: break-all;
	table-layout: fixed;
}

.wordWrap {
	text-align: justify;
	white-space: normal;
	word-wrap: break-all;
}

.center-50 {
	text-align: center;
	width: 50px;
}

.center-75 {
	text-align: center;
	width: 75px;
}

.left {
	text-align: left;
	vertical-align: top;
	padding: 2px 2px 2px 2px;
}

.left-25 {
	text-align: left;
	vertical-align: top;
	width: 25px;
	padding: 2px 2px 2px 2px;
}

.left-90 {
	text-align: left;
	vertical-align: top;
	width: 90px;
	padding: 2px 2px 2px 2px;
}

.left-50 {
	text-align: left;
	vertical-align: top;
	width: 50px;
	padding: 2px 2px 2px 2px;
}

.left-75 {
	text-align: left;
	vertical-align: top;
	width: 75px;
	padding: 2px 2px 2px 2px;
}

.left-100 {
	text-align: left;
	vertical-align: top;
	width: 100px;
	padding: 2px 2px 2px 2px;
}

.left-120 {
	text-align: left;
	vertical-align: top;
	width: 120px;
	padding: 2px 2px 2px 2px;
}

.left-140 {
	text-align: left;
	vertical-align: top;
	width: 140px;
	padding: 2px 2px 2px 2px;
}

.left-160 {
	text-align: left;
	vertical-align: top;
	width: 160px;
	padding: 2px 2px 2px 2px;
}

.left-180 {
	text-align: left;
	vertical-align: top;
	width: 180px;
	padding: 2px 2px 2px 2px;
}

.left-200 {
	text-align: left;
	vertical-align: top;
	width: 200px;
	padding: 2px 2px 2px 2px;
}

.left-250 {
	text-align: left;
	vertical-align: top;
	width: 250px;
	padding: 2px 2px 2px 2px;
}

.left-300 {
	text-align: left;
	vertical-align: top;
	width: 300px;
	padding: 2px 2px 2px 2px;
}

.left-400 {
	text-align: left;
	vertical-align: top;
	width: 400px;
	padding: 2px 2px 2px 2px;
}

.left-450 {
	text-align: left;
	vertical-align: top;
	width: 450px;
	padding: 2px 2px 2px 2px;
}

.left-500 {
	text-align: left;
	vertical-align: top;
	width: 500px;
	padding: 2px 2px 2px 2px;
}

.left-600 {
	text-align: left;
	vertical-align: top;
	width: 600px;
	padding: 2px 2px 2px 2px;
}

.left-700 {
	text-align: left;
	vertical-align: top;
	width: 700px;
	padding: 2px 2px 2px 2px;
}

.left-800 {
	text-align: left;
	vertical-align: top;
	width: 800px;
	padding: 2px 2px 2px 2px;
}

.left-900 {
	text-align: left;
	vertical-align: top;
	width: 900px;
	padding: 2px 2px 2px 2px;
}

.left-1000 {
	text-align: left;
	vertical-align: top;
	width: 1000px;
	padding: 2px 2px 2px 2px;
}

.right {
	text-align: right;
}

.right-100 {
	text-align: right;
	width: 100px;
}

.info {
	color: blue;
	font-family: tahoma;
	font-size: 10pt;
}

.error {
	color: red;
	border: thin solid red;
	margin: 0px;
}

.securityMarking {
	color: red;
	font-weight: bold;
	font-family: tahoma;
	font-size: 12pt;
}

.modalDialog {
	background-color:#F8F8F8;
}

.customTooltip {
   position: relative;
   z-index: 2000;
   min-width: 10px;
   max-width: 300px;
   font-size: 1.0em;
   font-weight: bold;
   border: 1px solid #D8000C;
   border-radius: 5px;
   background: -moz-linear-gradient(top, #FFFFFF, #FFBABA);
   background: -webkit-linear-gradient(top, #FFFFFF, #FFBABA);
   background: -o-linear-gradient(top, #FFFFFF, #FFBABA);
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#FFBABA');
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#FFBABA')";
   background: -ms-linear-gradient(top, #FFFFFF, #FFBABA);
}