.ui-growl, .ui-growl-item-container, .ui-growl-message {
	font-size: 8pt;
}

.wordWrap {
	text-align: justify;
	white-space: normal;
	word-wrap: break-all;
}

.ui-outputlabel-rfi {
	display: '*';
	color: #FF0000;
}

.ui-datatable-footer .ui-widget-header .ui-corner-bottom {
	text-align: left !important;
}