$primaryColor: #0076A9;
$primaryDarkColor: #005376;
$primaryLightColor: #81D4FA;
$accentColor: #CCCCCC;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #212121;

@import '../sass/theme/_theme';